body{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    padding: 0;
    margin: 0;
    font-family: "poppins";
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
}
.top{
    background-color: blueviolet;
    height: 10vh;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 4px ;
    display: flex;
    justify-content: space-around;
    color: white;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    margin: 0;

}
button{
    font-family: "poppins";
    border: 2px solid black;
    padding: 14px;
    border-radius: 40px;
    width: 60%;
    cursor: pointer;
    margin: auto auto;
    box-shadow: 0px 3px 0px black;
    background-color: yellow;
    font-size: large;
    font-weight: 600;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
    width: 30%;
}
input{
    border: 2px solid grey;
    border-radius: 40px;
    padding: 14px;
    margin: 6px;
    text-align: center;
    font-family: "poppins";
    font-size: large;
}
h1,h3{
    font-weight: 500;
}
button:hover{
    box-shadow: 0px 0px 0px black;
}
.ip1,.ip2{
    width: 100%;
}
i{
    cursor: pointer;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform: translateX(-100%);
    transition: background-color 0.2s;
    position: absolute;
    margin-left: 470px;
}
i:hover{
    background-color: rgb(193, 191, 191);
}
i:visited{
    background-color: rgb(123, 123, 123);
    transition: background-color 0s;
}
p{
    margin: auto;
    margin-top: -40px;
    font-size: 30px;
}
span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly
}
@media screen and (max-width: 600px) {
    input{
        margin: 4px;
        padding: 10px;
    }
    .info{
        width: 80%;
    }
    #btn-convert{
        margin: auto;
        margin-top: 24px;
        padding: 6px;
    }
    #btn-clear{
        margin: 8px auto;
        padding: 6px;
    }
    .top{
        height: 10vh;
    }
    i{
        cursor: pointer;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transform: translateX(-100%);
        transition: background-color 0.2s;
        position: absolute;
        margin-left: 360px;
    }
    i:hover{
        background-color: none;
    }
  }
  